:root {
  --white: #FFF;
  --black: #000;
  --font-color-base: #7B8FA1;
  --font-color-dark: #212529;
  --font-color-light: #b0aebe;
  --font-color-link: #4E4FEB;;
  --footer: #34314b;
  --footer-base: #2e2b45;
  --contrast: rgba(246, 248, 249, 0.8);
  --success: #64ECF5;
  --danger: #FF8b8d;
  --grad-1: #a1ecff;
  --grad-2: #7dbcff;



  --size-10: 0.625rem;
  --size-13: 0.875rem;
  --size-14: 1rem;
  --size-15: 1.125rem;
  --size-18: 1.175rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-35: 2.35rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-60: 3.5rem;
  --size-90: 6rem;
  --size-100: 6.25rem;
  --size-150: 9.325rem;
}

html { scroll-behavior: smooth; }

body {
  background-image: var(--white);
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: var(--size-13);
  line-height: 1.6;
  letter-spacing: 0;
  color: var(--font-color-base);
  margin: 0;
  padding: 0;
}

*
::after,
::before {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a { text-decoration: none; }
p { margin: var(--size-13) 0px; }

h2 {
  margin: 0;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--black);
}

h3 {
  color: var(--black);
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

section {
  padding-top: var(--size-100);
  padding-bottom: var( --size-100);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  font-size: 0.813rem;
  display: inline-block;
  font-weight: 500;
  color: var(--white);
  text-align: center;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.675rem 1.5rem;
  border-radius: 50px;
  transition: ease-in-out 0.3s;
} 

.btn-primary {
  background-color: #4E4FEB;
}



@media (min-width: 1200px) {
  .container {max-width: 1100px; }
}
